
<%- include('header') -%>

<h2>this is my about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tenetur, esse at amet reprehenderit expedita? Quaerat
    sint illum consectetur perferendis, ad quidem iste corrupti praesentium esse molestiae id rem qui pariatur officia
    obcaecati?</p>

<%- include('footer')  -%>